{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href=http://resource.fstvgo.com/image/Favicon.ico />
		<!--<script type="text/javascript" src="js/jquery-1.12.3.js"></script>-->
		<link rel="stylesheet" href="{% static 'css/details.css' %}" />
		<link rel="stylesheet" href="{% static 'css/fstvgo.css' %}" />
		<!--<script type="text/javascript" src="js/jquery.cookie.js"></script>-->
		<!--<script type="text/javascript" src="js/fstvgo.js"></script>-->
		<!--<script type="text/javascript" src="js/details.js"></script>-->
		<!--<script type="text/javascript" src="js/cart.js"></script>-->
		<!--<script type="text/javascript" src="js/jquery.cookie.js"></script>-->
		<script type="text/javascript" src="{% static 'js/jquery-1.12.3.js' %}" ></script>
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% block extcss %}
    {% endblock %}

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<title>商品列表</title>
	</head>

	<body>

		<div id="par">
			<div class="par2">
				<div class="par_box">
					<div id="second_list">
						<ul>
							<li>
								<a href="#">我的订单</a>
							</li>
							<li>
								<a href="#">我的积分</a>
							</li>
							<li>
								<a href="#">我的优惠券</a>
							</li>
							<li>
								<a href="#">我的消息</a>
							</li>
							<li>
								<a href="#">我的收藏</a>
							</li>
						</ul>
					</div>
					<div class="par2_r">

						<p class="par2_rp">
							<span>你好，</span>
							<a href="#">网站用户</a>
							<a href="#" id="getout">[退出]</a>
						</p>
						<p class="par2_rp2">
							<a href="#" class="show_id">我的风尚</a>
						</p>
					</div>
				</div>
			</div>

			<!---->
			<div class="par1">
				<div class="par_box">
					<div id="first_list">
						<ul>
							<li>
								<a href="#">我的订单</a>
							</li>
							<li>
								<a href="#">我的积分</a>
							</li>
							<li>
								<a href="#">我的优惠券</a>
							</li>
							<li>
								<a href="#">我的消息</a>
							</li>
							<li>
								<a href="#">我的收藏</a>
							</li>
						</ul>
					</div>
					<div class="par1_r">
						<p class="par1_rp">
							{% if user %}
								<a>{{ user.name }}</a>
								{% else %}
							<a href="{% url 'app:login' %}">
								未登录</a>
								{% endif %}
							 {% if user %}
                            <a href="{% url 'app:logout' %}">注销</a>
							{% endif %}
							<a href="{% url 'app:registre' %}">免费注册&nbsp;<label style="color : #d32402;">送50元</label></a>
						</p>
						<p class="par1_rp2">
							<a href="#">电话订购会员登录&nbsp;<label style="color: #d32402;">送50元</label></a>
							<a href="#" id="show_id">我的风尚</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div id="head">
			<div class="h_cont">
				<a href="fstvgo.html"><img src="{% static 'img/风尚购物_03.gif' %}" class="h_img1"></a>
				<a href="#"><img src="{% static 'img/风尚购物_05.gif' %}" class="h_img2"></a>
				<div class="h_contM">
					<input type="text" placeholder="请输入商品关键词或货号"><input type="button" value="搜 索" class="h_input">
					<p>热门搜索 ：
						<a href="#">手表</a>&nbsp;
						<a href="#">海参</a>&nbsp;
						<a href="#">国宾</a>&nbsp;
						<a href="#">洗衣机</a>&nbsp;
						<a href="#">拖把</a>&nbsp;
						<a href="#">窗帘</a>&nbsp;
						<a href="#">蚕丝被</a>&nbsp;
						<a href="#">羽绒服</a>&nbsp;
						<a href="#">皮衣</a>
					</p>
				</div>
				<div class="h_contR">
					<p>0</p>
					<img src="{% static 'img/风尚购物_07.jpg' %}">
					<input type="button" value="去购物车结算" class="tocart">
				</div>
			</div>
		</div>
		<!--第三部分01-->
		<div id="contents">
			<div class="cc_list">
				<div class="list_show">
					<div class="show_l">
						<a href="#">家居用品</a>
						<a href="#">卧室床品</a>
						<a href="#">厨浴电器</a>
						<a href="#">汽车用品</a>
					</div>
					<div class="show_m">
						<h3>推荐品牌</h3>
						<a href="#">乐扣乐扣</a>
						<a href="#">妙煮妇</a>
						<a href="#">太古</a>
						<a href="#">爱仕达</a>
						<a href="#">老工匠</a>
						<a href="#">康佳</a>
						<a href="#">批得斯卡</a>
						<a href="#">白玉兰</a>
					</div>
					<div class="show_r">
						<h3>热门活动</h3>
						<a href="#"><img src="{% static 'img/list01.png' %}"></a>
						<a href="#"><img src="{% static 'img/list02.png' %}"></a>
					</div>
				</div>
				<div class="list_show">
					<div class="show_l">
						<a href="#">日用电器</a>
						<a href="#">电脑周边</a>
						<a href="#">数码影音</a>
						<a href="#">手机</a>
					</div>
					<div class="show_m">
						<h3>推荐品牌</h3>
						<a href="#">TCl</a>
						<a href="#">清华同方</a>
						<a href="#">康佳</a>
						<a href="#">创维</a>
						<a href="#">酷开</a>
						<a href="#">长虹</a>
						<a href="#">美的</a>
						<a href="#">格兰仕</a>
					</div>
					<div class="show_r">
						<h3>热门活动</h3>
						<a href="#"><img src="{% static 'img/list01.png' %}"></a>
						<a href="#"><img src="{% static 'img/list02.png' %}"></a>
					</div>
				</div>
				<div class="list_show">
					<div class="show_l">
						<a href="#">运动户外</a>
						<a href="#">保健用品</a>
					</div>
					<div class="show_m">
						<h3>推荐品牌</h3>
						<a href="#">海斯曼</a>
						<a href="#">美国福特</a>
						<a href="#">豪美雅</a>
						<a href="#">尚朵</a>
					</div>
					<div class="show_r">
						<h3>热门活动</h3>
						<a href="#"><img src="{% static 'img/list01.png' %}"></a>
						<a href="#"><img src="{% static 'img/list02.png' %}"></a>
					</div>
				</div>
				<div class="list_show">
					<div class="show_l">
						<a href="#">手表</a>
						<a href="#">服饰内衣</a>
						<a href="#">鞋帽配饰</a>
						<a href="#">箱包</a>
					</div>
					<div class="show_m">
						<h3>推荐品牌</h3>
						<a href="#">阿尼玛</a>
						<a href="#">花花公子</a>
						<a href="#">Prop Mark</a>
						<a href="#">上海牌</a>
						<a href="#">浪莎</a>
					</div>
					<div class="show_r">
						<h3>热门活动</h3>
						<a href="#"><img src="{% static 'img/list01.png' %}"></a>
						<a href="#"><img src="{% static 'img/list02.png' %}"></a>
					</div>
				</div>
				<div class="list_show">
					<div class="show_l">
						<a href="#">功能护肤</a>
						<a href="#">美容化妆</a>
						<a href="#">基础护理</a>
					</div>
					<div class="show_m">
						<h3>推荐品牌</h3>
						<a href="#">韩后</a>
						<a href="#">瑾兰</a>
						<a href="#">雅诗兰黛</a>
						<a href="#">欧莱雅</a>
						<a href="#">温碧泉</a>
					</div>
					<div class="show_r">
						<h3>热门活动</h3>
						<a href="#"><img src="{% static 'img/list01.png' %}"></a>
						<a href="#"><img src="{% static 'img/list02.png' %}"></a>
					</div>
				</div>
				<div class="list_show">
					<div class="show_l">
						<a href="#">营养食品</a>
						<a href="#">减肥食品</a>
					</div>
					<div class="show_m">
						<h3>推荐品牌</h3>
						<a href="#">巧克力</a>
						<a href="#">减肥茶</a>
						<a href="#">茅台</a>
						<a href="#">五粮液</a>
						<a href="#">雪奥</a>
						<a href="#">东阿百年堂</a>
					</div>
					<div class="show_r">
						<h3>热门活动</h3>
						<a href="#"><img src="{% static 'img/list01.png' %}"></a>
						<a href="#"><img src="{% static 'img/list02.png' %}"></a>
					</div>
				</div>
				<div class="list_show">
					<div class="show_l">
						<a href="#">珠宝收藏</a>
						<a href="#">收藏品</a>
					</div>
					<div class="show_m">
						<h3>推荐品牌</h3>
						<a href="#">D&amp;G</a>
						<a href="#">金玉逸品</a>
						<a href="#">三喜珠宝</a>
						<a href="#">真爱</a>
						<a href="#">和玉祥</a>
						<a href="#">安妮</a>
					</div>
					<div class="show_r">
						<h3>热门活动</h3>
						<a href="#"><img src="{% static 'img/list01.png' %}"></a>
						<a href="#"><img src="{% static 'img/list02.png' %}"></a>
					</div>
				</div>

				<ul class="c_list_ul">
					<li>
						<a href="#">家居生活</a>
					</li>
					<li>
						<a href="#">数码家电</a>
					</li>
					<li>
						<a href="#">保健养生</a>
					</li>
					<li>
						<a href="#">服饰配件</a>
					</li>
					<li>
						<a href="#">美容美发</a>
					</li>
					<li>
						<a href="#">食品健康</a>
					</li>
					<li>
						<a href="#">珠宝收藏</a>
					</li>
				</ul>
				<div class="c_pai">
					<h3>热门品牌</h3>
					<dl>
						<dd>
							<a href="#">东芝</a>
							<a href="#">长虹</a>
							<a href="#">美的</a>
							<a href="#">康佳</a><br>
							<a href="#">爱仕达</a>
							<a href="#">花花公子</a>
							<a href="#">浪莎</a>
							<a href="#">老工匠</a><br>
							<a href="#">妙煮妇</a>
							<a href="#">红豆</a>
							<a href="#"></a>
							<a href="#">莫瑞琪</a>
							<a href="#">韩束</a><br>
							<a href="#">瑾兰</a>
							<a href="#">五粮液</a>
							<a href="#">泸州</a>
						</dd>
					</dl>
				</div>
			</div>
			<div id="cont">
				<div class="c_nav" style="width: 1200px;">
					<ul class="c_nav_ul">
						<li class="f_li">全部商品分类</li>
						<li>
							<a href="#">首页</a>
						</li>
						<li>
							<a href="#">电视直播</a>
						</li>
						<li>
							<a href="#">热卖榜</a>
						</li>
						<li>
							<a href="#">风尚榜</a>
						</li>
						<li>
							<a href="#">手机购物</a>
						</li>
						<li>
							<a href="#">品牌店中店</a>
						</li>
					</ul>
					<div class="online"></div>
				</div>
				<div class="g_top">
					<h3>所有商品</h3>
					<!--<a href="#">服饰配件</a>-->
					<!--<a href="#">鞋帽配饰</a>-->
				</div>
			</div>
			<!--商品列表-->
             <div class="row">

        {% for good in goods %}
            {#            col-md-4 * 3 = 12  #}
            {#            col-md-3 * 4 = 12 #}
            {#            col-md-2 * 6 = 12 #}
                 <a href="{% url 'app:details' good.productid %}">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <img src="{{ good.productimg }}" alt="...">
                    <div class="caption">
                        <h3><span>{{ good.productid }}</span> - {{ good.productname }}</h3>
                        <p style="color: red;">￥{{ good.price }}</p>
                        <p>
                            {{ goods.dealer }}
                        </p>
                    </div>
                </div>
            </div>
                     </a>
        {% endfor %}

    </div>
		<div id="footer">
			<div class="foot_left">
				<dl>
					<dt>帮助中心</dt>
					<dd>
						<a href="#">购物流程</a>
						<a href="#">积分规则</a>
						<a href="#">积分绑定使用</a>
						<a href="#">订单状态说明</a>
					</dd>
				</dl>
				<dl>
					<dt>配送方式</dt>
					<dd>
						<a href="#">免费配送地区</a>
						<a href="#">配送范围</a>
						<a href="#">收费标准</a>
					</dd>
				</dl>
				<dl>
					<dt>支付方式</dt>
					<dd>
						<a href="#">货到付款</a>
						<a href="#">银联支付</a>
						<a href="#">支付宝</a>
						<a href="#">微信支付</a>
					</dd>
				</dl>
				<dl>
					<dt>客户服务</dt>
					<dd>
						<a href="#">售后及退换货</a>
						<a href="#">在线客服</a>
					</dd>
				</dl>
				<dl>
					<dt>会员中心</dt>
					<dd>
						<a href="#">资料修改</a>
						<a href="#">找回密码</a>
						<a href="#">会员等级</a>
						<a href="#">会员权益</a>
					</dd>
				</dl>
				<dl>
					<dt>招商专区</dt>
					<dd>
						<a href="#">关于我们</a>
						<a href="#">合作流程</a>
						<a href="#">联系我们</a>
						<a href="#">供应商系统</a>
					</dd>
				</dl>
				<dl id="dl_last">
					<dt>关注我们</dt>
					<dd>
						<a href="#">招贤纳士</a>
						<a href="#"><img src="{% static 'img/01/weiboco.png' %}"></a>
						<a href="#"><img src="{% static 'img/01/weixinco.png' %}"></a>
					</dd>
				</dl>
				<ul>
					<li><img src="{% static 'img/tellphone.gif' %}" <="" li="">
				</li></ul>
			</div>
		</div>
		<div id="last">
			<div class="last_text">
				<span><a href="#">触屏版</a></span>
				<span><a href="#">电脑版</a></span>
				<h3>ICP经营许可证：赣ICP备15000001号</h3>
				<h3>24小时订购和服务热线：4001-677-077</h3>
				<h3>Copyright 2008-2014，www.fstvgo.com 风尚购物 版权所有</h3>
				<h3>本网站用字经北京北大方正电子有限公司授权许可</h3>
			</div>
		</div>



	</body>

</html>