{% extends 'base.html' %}
{% load static %}
{% block title %}
    订单列表
{% endblock %}
{% block content %}
    <div class="orderlist" style="margin-top: 10px;width: 900px;height: auto;margin: 0 auto!important;font:26px/1.5 arial,\5b8b\4f53;border:3px solid #BFBFBF;background: #ffd9fa">
        {% for order in orders %}
            <p class="bg-info">
                <a href="{% url 'app:orderdetail' order.identifier %}">
                    订单号: {{ order.identifier }} --
                    {% if order.status == 0 %}
                        未付款
                    {% elif order.status == 1 %}
                        待发货
                    {% elif order.status == 2 %}
                        待收货
                    {% elif order.status == 3 %}
                        待评价
                    {% elif order.status == 4 %}
                        已评价
                    {% endif %}
                </a>
            </p>
            <br>
        {% endfor %}
    </div>
{% endblock %}
